# Copy this file to key.properties and fill in your values
# DO NOT commit key.properties to git!

storePassword=YOUR_KEYSTORE_PASSWORD
keyPassword=YOUR_KEY_PASSWORD
keyAlias=myself-rephraser
storeFile=/Users/thuan.nv/myself-rephraser-key.jks

